.aboutme-title.fw-bold {
  font-size: 5rem;
}
.container-fluid.container-top {
  border-bottom: 2px solid #c4c4c4c4;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.container-fluid.mys-skills {
  background: #383737;
}
.imagen-react {
  width: 50%;
}
.imagen.img-thumbnail {
  width: 250px;
  height: 250px;
}
