.bi.bi-check2 {
  color: green;
}
.bi.bi-credit-card {
  color: green;
}
.bi.bi-border-width {
  color: green;
}
.bi.bi-card-image {
  color: green;
}
.subTitle {
  font-family: 'poppins';
}
h3 {
  color: rgb(79, 79, 164);
}
.bi.bi-star-fill {
  color: #ffdc00;
}
.car-left {
  position: fixed;
  width: 150;
  color: white;
  background-color: #5191fa;
  padding: 20px;
  border-radius: 5px;
}
.text {
  color: white;
}
